/*faqUserList*/
#userList{
	/*clear: both;*/
	width:96%;
	margin: 0 auto;
	overflow: auto;
	background: white;
}
#answer p{
	font-size: 0.8em;
}
#jQuery_accordion{
	float:left;
	width: 75%;
	padding: 10px 0 0 33px;
}
#faqBody{
	padding: 16px 0 0 0;
}
#faqinfo p{
	font-size: 0.8em;
	text-align: left;
	margin:0 0 0 220px;
}
#faqinfo p a{
	color:black;	
}
.faqSearch{
	margin: 17px 0 30px 0;
	padding: 30px 0 30px 0;
	border: 5px solid lightgray;
	float: right;
	width: 75.5%;
}
.faqSearch span{
	font-weight: bold; 
	font-size: 1.2em;
	margin-right: 10px;
	padding-left: 180px;
}
.faqSearch input[type="text"]{
	
}
.faqSearch input[type="image"]{
	height: 31px;
	padding-bottom: 1px;
}

/* faqWrite */
.center{
	width:100%;
	text-align: center;
}
.divForm div{
	clear: both;
	padding: 5px 0;
	margin: 0;
	overflow: auto;
}
.divForm legend{
	font-weight: bold;
	padding: 10px 0;
	margin:10px 0;
	font-size: 1.4em; 
}
.divForm label, .divForm .sp1{
	width: 12%;
	float: left;
	text-align: left;
	padding: 3px 0 0 0;
	font-size: 0.9em;
	line-height: 16px;
}

/*faqList*/
.divList legend{
	padding: 10px 0;
	margin:10px 0;
	font-size: 1.4em; 
}
/*table*/
table{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
	font-size: 0.9em;
}
table.box, table.box2{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
table.box2 th{
	height:35px;
	background-color: #ffeaea;
}
table.box2 td{
	text-decoration: none;
	height:30px;
	border: 1px solid #ffeaea;
}
table.box2 td a{
	color: black;
	text-decoration:none;
}
.list p{
	font-size: 0.8em;
}
.divSearch, .divPage{
	text-align: center;
	padding-top: 20px;
}
.divBtn{
	float: right;
}
.clearboth{
	clear: both;	
}
.align_center{
	text-align: center;
}
.divPage span{
	color:#5b75ff;
	font-weight: bold;
	font-size: 0.9em;
	border: 1px solid #eee;
	padding: 0 9px 0 9px;
	margin: 0 1px 0 1px;"
}
.divPage a{
	font-size: 0.9em;
	color: black;
	padding: 0 10px 0 10px;
}
.divPage a:hover{
	text-decoration: none;
}
.divPage img{
	height: 16px;
}
.category{
	font-size: 0.8em;
	margin-bottom: 3px;
}
/*faqEdit*/
.firstDiv label{
	line-height: 20px;
}
/*faqDetail*/
.firstDiv2{
	background-color: #ffeaea;
	height: 30px;
}
.firstDiv2 .sp1{
	width:48%;
	float: left;
	padding-left: 10px;
	line-height: 25px;
	font-weight: bold;
}
.secondDiv{
	border: 1px solid #ffeaea;
	height:500px;
}
.firstDiv2 .sp2{
	float: right;
	
	font-size: 0.9em;
	line-height: 30px;
	padding-right: 10px;
}
.secondDiv p{
	padding-left: 10px;
	font-size: 0.9em;
}
.writer{
	float: right;
	padding-right: 10px;
}
.sp2 a{
	color:black;
}
#reply{
	height: 15px;
}
.cmtList{
	background-color: #ffeaea;
}
.contentBox a{
	color:black;
	font-size: 0.9em;
}
.contentBox img{
	height: 9px;
}
.contentBox{
	margin-top: 20px;
}