@CHARSET "UTF-8";
@font-face{
   font-family:'bon godic';
   src:url('../font/NotoSans-Regular.ttf') format('truetype');
}
section{
	width:960px;
	margin:0 auto;
	padding:0;
}
#join_div{
	font-family:'bon godic';
	font-weight: bold;
}
#joinMessage{
	text-align: center;
}
#joinMessage h1{
	font-size:40px;
	margin-top:45px;
	margin-bottom:20px;
	color:#333;
}
#joinMessage p{
	font-size:16px;
	color:#333;
}
#joinType{
	width:900px;
	margin:0 auto;
	text-align: center;
	margin-top:30px;
}
#joinType h2{
	font-size:30px;
	margin-top:20px;
	margin-bottom:20px;
	color:#333;
}
#joinType p{
	font-size:15px;
	margin-bottom:30px;
	color:#333;
}
#joinType img{
	width:130px;
}

#joinType #join_personal, #join_business{
	display:inline-block;
	width:440px;
	height:600px;
	
}
#join_personal{
	border:1px solid #ddd;
	box-shadow:3px 5px 5px #ccc;
}
#join_business{
	float:right;
	border:1px solid #ddd;
	box-shadow:3px 5px 5px #ccc;
	
}

/* 개인,기업회원가입 버튼 */
#bt_personal{
	margin-top:40px;
	margin-bottom:30px;
	width:300px;
	height:50px;
	/* background:#FFCB00; */
	color:#333;
	background:white;
	border:1px solid silver;
	font-size:20px;
	font-weight: 500;
	line-height: 14px;
	box-shadow:2px 1px 1px #eee;
}

#bt_business{
	margin-top:40px;
	margin-bottom:30px;
	width:300px;
	height:50px;
	/* background:#FF6531; */
	color:#333;
	background:white;
	border:1px solid silver;
	font-size:20px;
	font-weight:500;
	line-height: 14px;
	box-shadow:2px 1px 1px #eee;
}

.point_p{
	color:#FFCB00;
	padding:0;
}
.point_b{
	color:#FF6531;
	padding:0;
}

/* 개인회원가입 아래 이미지,라벨 */
#join_personal div{
	display:inline-block;
	width:149px;
	height:40px;
	margin-top:10px;
	margin-bottom:5px;
	margin-right:5px;
	text-align: left;
}
#join_personal div img{
	width:40px;
	float:left;
}
#join_personal div input[type="button"]{
	float:left;
	/* margin-top:13px;  */
	height:40px;
	border:none;
	border-radius: 5px;
	font-family: 'bon godic';
	font-size:14px;
	font-weight:bold;
	padding-right:0;
	padding-left:0;
	padding-bottom:2px;
}
#join_google{
	border-radius: 12px;
	border:1px solid #DE4D42;
	background: #DE4D42;
}
#bt_google{
	background: #DE4D42;
	color:white;
}

#join_naver{
	border-radius: 12px;
	border:1px solid #18CB00;
	background: #18CB00;
}
#bt_naver{
	background: #18CB00;
	color:white;
}

#join_kakao{
	border-radius: 12px;
	border:1px solid #F7EF00;
	background: #F7EF00;
}
#bt_kakao{
	background: #F7EF00;
	color:#333;
}

#join_facebook{
	border-radius: 12px;
	border:1px solid #395994;
	background: #395994;
}
#bt_facebook{
	background: #395994;
	color:white;
}





