@CHARSET "UTF-8";
.divMain{
	margin:auto;
	width:1024px;
	background-color:ivory;
}

/* 광고 및 기본기능 */
.divCategory{
	
}
#divTitle{
	font-family: '중고딕';
	font-weight: bold;
	font-size: 20px;
}
.divCAD{
	width:75%;
	float: left;
}
.divCmHeader{
	height:130px;
	background-color: azure;
}
.divDivision{
	height:250px;
	background-color:MistyRose;
}
.divJob{
	width: 33%;
	height:250px;
	border:solid 1px LightGray;
	border-top:solid 2px LightGray;
	float: left;
}

.divFunction{
	width:25%;
	background-color:Moccasin;
	float: left;
}
.loginBox{
	height:230px;
	border:solid 1px LightGray;
}
.divCommercial2{
	height:150px;
}

.divBrand{
	width: 100%;
	height: 80px;
	background-color:Lime;
	float: left;
}

#pay{
	margin-top:12px;
	font-size:12px;
}
#pay #time{
	color:white;
	background-color:gray;
	padding:1px;
	border-radius:3px;
}
#pay #money{
	font-weight:bold;
}

/* 스페셜 공고 */
.divSpecial{
	width: 100%;
	float: left;
}
.divSpecial p{
	padding-left:10px;
	padding-right:10px;
	text-align:left;
}
.divSpecial .SpBox{
	margin:0 auto;
	width: 190px;
	height: 160px;
	border:solid 1px LightGray;
<<<<<<< HEAD
	text-align: center;
	float:left;
	margin: 5px;
}
.divSpecial a{
	text-decoration:none;
	color:black;
}
.divSpecial #title{
	font-weight:bold;
}
.divSpecial #content{
	text-align:left;
}
=======
	background-color:azure;
} 
>>>>>>> branch 'master' of https://github.com/Albagoo/algoo.git

/* 그랜드 공고 */
.divGrand{
	width: 100%;
	float: left;
}
.divGrand p{
	padding-left:10px;
	padding-right:10px;
	text-align:left;
}
.divGrand .GrBox{
	width: 240px;
	height: 140px;
	border:solid 1px LightGray;
<<<<<<< HEAD
	text-align: center;
	float:left;
	margin: 5px;
}
.divGrand a{
	text-decoration:none;
	color:black;
}
.divGrand #title{
	font-weight:bold;
}
#grayFont{
	margin-top:12px;
	color:gray;
	text-align:center;
}
#grayButton{
	font-size:14px;
	font-weight:bold;
	color:white;
	background-color:DarkGray;
	margin-top:5px;
	padding:5px 0px 5px 0px;
	text-align:center;
=======
	background-color:azure;
>>>>>>> branch 'master' of https://github.com/Albagoo/algoo.git
}