	section{
		padding:5px;
		margin:5px;
	}
	.divListAll{
		margin:auto;
		width:100%;
		font-size:0.9em;
	}
	.detailTitle{
		font-size:24px;
	}
	table{
		margin: 0;
		padding: 0;
		border-collapse: collapse;
		width: 100%;
		font-size: 0.9em;
	}
	table th{
		background-color: #eeeeee;
		border: 1px solid #eee;
	}
	table td{
		border: 1px solid #eee;
	}
	#align_left{
		text-align:left;
	}
	#align_right{
		text-align:right;
	}
	#align_center{
		text-align:center;
	}
	
	/* span{
		font-size:24px;
		text-align:left;
	} */
	
	#firstTitle{
		text-align:left;
		font-size:1.5em;
		font-weight:bold;
		margin-top:12px;
		margin-bottom:12px;
	}
	.searchResult{
		text-align:left;
		margin-bottom:4px;
	}
	
	.divList{
		width:100%;
		margin:2px;
		text-align: center;
		/* border-radius:4px; */
		/* font-weight:bold; */
	}
	.divList td{
		height:23px;
	}
	.divList td a, .divBtn a{
		text-decoration:none;
		color:black;
		height:22px;
		/* font-weight:bold; */
	}
	.divBtn a{
		padding:2px;
		/* border-radius:4px; */
		border:1px solid #eee;
		background-color:LightPink;
	}
	select{
		font-weight:bold;
	}
	.textBox{
		/* margin:auto;
		width:320px;
		padding:2px;
		border-radius:4px;
		border:1px solid gray;
		background-color:LightPink;
		margin-top:5px; */
		
		display: inline-block;
		zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
		*display: inline;
		vertical-align: baseline;
		margin: 0 2px;
		outline: none;
		cursor: Auto;
		text-decoration: none;
		font: 14px/100% Arial, Helvetica, sans-serif;
		padding: .2em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-border-radius: .4em; 
		-moz-border-radius: .4em;
		border-radius: .4em;
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
	
	/* detail */
	.divForm{
		width:100%;
		margin:2px;
	}
	.detailTable th{
		padding:10px;
	}
	/* .detailTable th{
		background-color:LightPink;
	} */
	#contentTd{
		vertical-align:top;
	}
	#bottomDiv{
		width:100%;
		padding:10px;
		text-align:center;
	}
	.bottomBox{
		margin:auto;
		width:180px;
		padding:2px;
		border-radius:4px;
		border:1px solid #eee;
		background-color:LightPink;
		margin-top:5px;
	}
	#titleTd, #content{
		padding-left:20px;
	}
	
	/* edit */
	.funcDiv{
		width:100%;
		padding-top:10px;
		padding-bottom:10px;
		margin:2px;
		border-radius:4px;
		font-weight:bold;
	}
	.editCgDiv{
		text-align:left;
		
	}
	.editEndDiv{
		margin-top:10px;
	}
	
/*기란 추가*/
.divPage{
	text-align: center;
	padding-top: 20px;
}
.divPage span{
	color:#5b75ff;
	font-weight: bold;
	font-size: 0.9em;
	border: 1px solid #eee;
	padding: 0 9px 0 9px;
	margin: 0 1px 0 1px;"
}
.divPage a{
	font-size: 0.9em;
	color: black;
	padding: 0 10px 0 10px;
}
.divPage a:hover{
	text-decoration: none;
}
/*table*/
table{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
	font-size: 0.9em;
}
table.box, table.box2{
	margin: 0;
	padding: 0;
	border: solid silver 1px;
	border-collapse: collapse;
}
table.box2 th{
	background-color: #eeeeee;
	border: solid silver 1px;
	height:35px;
}
table.box2 td{
	border: solid silver 1px;
	text-decoration: none;
	height:25px
}
table.box2 td a{
	color: black;
	text-decoration:none;
}
.divForm div{
	clear: both;
	padding: 5px 0;
	margin: 0;
	overflow: auto;
}
.divForm legend{
	font-weight: bold;
	padding: 10px 0;
	margin:10px 0;
	font-size: 1.4em; 
}
.divForm label, .divForm .sp1{
	width: 12%;
	float: left;
	text-align: left;
	padding: 3px 0 0 0;
	font-size: 0.9em;
	line-height: 16px;
}
.firstDiv label{
	line-height: 20px;
}
.firstDiv{
	float: left;
}
.firstDiv2{
	background-color: #eee;
	height: 30px;
}
.firstDiv2 .sp1{
	width:48%;
	float: left;
	padding-left: 10px;
	line-height: 25px;
	font-weight: bold;
}
.secondDiv{
	border: 1px solid #eee;
	height:500px;
}
.firstDiv2 .sp2{
	float: right;
	
	font-size: 0.9em;
	line-height: 30px;
	padding-right: 10px;
}
.secondDiv p{
	padding-left: 10px;
	font-size: 0.9em;
}
.writer{
	float: right;
	padding-right: 10px;
}
.sp2 a{
	color:black;
}
.center{
	width:100%;
	text-align: center;
}
/*UserList*/
.noticeSearch{
	margin: 30px 0 30px 0;
	padding: 30px 0 30px 0;
	border: 5px solid lightgray;
}
.noticeSearch span{
	font-weight: bold; 
	font-size: 1.2em;
	margin-right: 10px;
}
.noticeSearch input[type="image"]{
	height: 31px;
	padding-bottom: 1px;
}
.noticeSearch input[type="text"]{
	 width: 200px;
	 height: 25px;
}
.divPage img{
	height: 16px;
}
.category{
	font-size: 0.8em;
	margin: 0 0 5px 3px;
	float: left;
	border: none;
}
/*이전글 다음글*/
.contentBox a{
	color:black;
	font-size: 0.9em;
}
.contentBox img{
	height: 9px;
}
.contentBox{
	margin-top: 20px;
	border: none;
}