@CHARSET "UTF-8";
.divMain{
	position:static;
	margin:auto;
	width:900px;
}

/* 기업회원약관 */
.provision hr{
	border:solid 2px #e70400;
}
.provision a{
	text-decoration:none;
	color:black;
}

.provTitle{
	width:250px;
	background-color:#f7f7f7;
	padding:10px 20px 10px 20px;
	border:solid 1px silver;
}
.provTitle span a{
	font-weight:bold;
	color:#e70400;
}
.provision h2{
	font-size:30px;
}
.provDay{
	text-align:right;
}
#provDay{
	font-weight:bold;
}
.provCon{
}

/* 회사소개 */
#cpTitle{
	font-size:20px;
	font-weight:bold;
	color:black;
}
.compinfo{
	color:gray;
}
#compTb{
	margin-left:10px;
}
#compTb td{
	padding:10px;
}
#cpt{
	font-weight:bold;
}