@CHARSET "UTF-8";
@font-face{
   font-family:'bon godic';
   src:url('../font/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* body {
   background: #ededed;
   width: 900px;
   margin: 30px auto;
   color: #999;
} */
p {
   margin: 0 0 2em;
}
h1 {
   margin: 0;
}
a {
   color: #339;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
/* div {
   padding: 20px 0;
   border-bottom: solid 1px #ccc;
}
 */
/* button 
---------------------------------------------- */
body{
   /* background: #F7F7F7; */
   
}
.recWrite *{

}
.recWrite {
   width: 900px;
    background: #FFF; 
   border-left:1px solid #eee;
   border-right:1px solid #eee;
   
   margin: 0 auto;
   border-radius: 1%;
    
}
.recWrite dl dt {
   padding-bottom: 15px; 
}
.recWrite dl{
	/* background: #fffcfc; */
}
.companyInfo,.personInfo,.workInfo,.workCondition,.requestCondition,.recContent,.detailContent {
   width: 880px;
   padding: 20px 0;
   
}

.detailContent textarea{
   margin: 30px;
}

.bg {
   /* background: #FFF; */
   /* border: 1px solid gray; */
}

.tit {
   /* margin:7px ; */
   margin:10px 10px 0 10px;
}
.by{
 margin:5px 0 0 0;
   font-family:'bon godic';
   float: left;
   font-size: 10pt;
}
.titc {
   margin:10px 10px 0 10px;
}

.tit, .titc{
   text-align:right;
   width: 150px;
   float: left;
   font-family:'bon godic';
   font-weight: bold;
   font-size: 10pt;
   /* color: #511; */
}
.titd, .titcd{
   text-align:right;
   width: 70px;
   float: left;
   font-family:'bon godic';
   font-weight: bold;
   font-size: 10pt;
   color: #511;
}


.radio{
   margin:7px 0;
   height:
   float: left;
}
.prefe{
   margin:5px 0 0 0;
   width:115px;
   float: left;
}
.rence{
   margin: 5px 0 0 0px;
   float: left;
   width: 110px;
}
.txt{
   margin:10px;
   width: 580px;
   float: left;
}


.txt_30,.txt_35,.txt_40,.txt_45,.txt_50,.txt_55,.txt_60,.txt_65,.txt_70,.txt_75,.txt_80,.txt_85,.txt_90,.txt_95,.txt_100,.txt_105,.txt_110,.txt_115,.txt_120,.txt_125,.txt_130,.txt_135,.txt_140,.txt_145,.txt_150,.txt_155,.txt_160,.txt_165,.txt_170,.txt_175,.txt_180,.txt_185,.txt_190,.txt_195,.txt_200,.txt_205,.txt_210,.txt_220,.txt_230,.txt_240,.txt_250,.txt_260,.txt_270,.txt_280,.txt_290,.txt_300,.txt_350,.txt_400.txt_500{
   margin:5px 10px;
   float: left;
}
.txth_30,.txth_35,.txth_40,.txth_45,.txth_50,.txth_55,.txth_60,.txth_65,.txth_70,.txth_75,.txth_80,.txth_85,.txth_90,.txth_95,.txth_100,.txth_105,.txth_110,.txth_115,.txth_120,.txth_125,.txth_130,.txth_135,.txth_140,.txth_145,.txth_150,.txth_155,.txth_160,.txth_165,.txth_170,.txth_175,.txth_180,.txth_185,.txth_190,.txth_195,.txth_200,.txth_205,.txth_210,.txth_220,.txth_230,.txth_240,.txth_250,.txth_260,.txth_270,.txth_280,.txth_290,.txth_300,.txth_350,.txth_400{
   margin:10px 0;
   float: left;
}
.txt_30,.txth_30 {
   width: 30px;
}
.txt_35 ,.txth_35{
   width: 35px;
}
.txt_40 ,.txth_40{
   width: 40px;
}
.txt_50 ,.txth_50{
   width: 50px;
}
.txt_60 ,.txth_60{
   width: 60px;
}
.txt_65 ,.txth_65{
   width: 65px;
}
.txt_70 ,.txth_70{
   width: 70px;
}
.txt_75 ,.txth_75{
   width: 75px;
}
.txt_80 ,.txth_80{
   width: 80px;
}
.txt_85 ,.txth_85{
   width: 85px;
}
.txt_90 ,.txth_90{
   width: 90px;
}
.txt_95 ,.txth_95{
   width: 95px;
}
.txt_100 ,.txth_100{
   width: 100px;
}
.txt_105,.txth_105{
   width: 105px;
}
.txt_300 ,.txth_300{
   width: 300px;
}
.txt_250 ,.txth_250{
   width: 250px;
}
.txt_200 ,.txth_200{
   width: 200px;
}
.txt_180 ,.txth_180{
   width: 180px;
}
.txt_150 ,.txth_150{
   width: 150px;
}
.txt_300 ,.txth_300{
   width: 300px;
}
.txt_500 ,.txth_500{
   width: 500px;
}
.phone1{
margin:10px;
   width: 50px;
   float: left;
}
.phone2, .phone3{
margin:10px;
   width: 80px;
   float: left;
}
.email1{
   margin:10px;
   width: 80px;
   float: left;
}
.email2{
   margin:10px;
   width: 100px;
   float: left;
}
.email3{
   margin:10px;
   width: 120px;
   float: left;
}
.clearBoth, .clearBoth dt{
   clear: both;
}
.recWrite h2{
   width: 150px;
   text-align: right;
   margin: 20px 10px;
 font-family:'bon godic';
   font-variant:small-caps;
   font-weight: bold;
   font-size: 13.5pt; 
  /*  border-bottom: 1px solid #ddd;
   border-right: 1px solid #eee;
   padding-right: 30px;
   border-bottom-right-radius: 3%;
   border-top-right-radius: 3%; */
   
   /* display: inline-block; */
      zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
      *display: inline;
      vertical-align: baseline;
      margin: 0 2px;
      outline: none;
      cursor: Auto;
      text-decoration: none;
      padding: .2em;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      -webkit-border-radius: .4em; 
      -moz-border-radius: .4em;
      border-radius: .4em;
      box-shadow: 0 1px 2px rgba(0,0,0,.2);
      padding-right: 80px;
      margin-top: 30px;
}
.font_11{
   font-size: 10pt;
}
.bgg{
 background: #F7F7F7
}


input[type="text"], input[type="radio"],input[type="checkbox"]{
   border: none;
   zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
   *display: inline;
   vertical-align: baseline;
   margin: 8px 8px 0 2px;
   outline: none;
   cursor: Auto;
   text-decoration: none;
   font: 14px/100% Arial, Helvetica, sans-serif;
   padding: .2em;
   text-shadow: 0 1px 1px rgba(0,0,0,.3);
   -webkit-border-radius: .4em; 
   -moz-border-radius: .4em;
   border-radius: .4em;
   box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.align_center{
	text-align: center;
}


.align_left{
	text-align: left;
}
.align_right{
	text-align: right;
}
.recList tbody tr td{
   margin: 20px 10px;
 font-family:'bon godic';
   font-variant:small-caps;
   font-weight: bold;
   font-size: 9pt; 
}
dt label{
	font-family:'bon godic';
   font-size: 9.5pt;
   color: #511;
}
dt input[type="radio"],dt input[type="checkbox"]{
	margin:7px 0;
   height:
   float: left;
}
floatLeft input[type="checkbox"]{
	float: left;
}

/* 체크박스디자인 */


/* <div class="checks">
  <input type="checkbox" id="ex_chk">
  <label for="ex_chk">체크박스</label>
</div> 
 */
.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip:rect(0,0,0,0);
   border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  top:7px;
  padding-left: 20px;  /* 글자와 체크박스 사이의 간격을 변경 */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: '';
  position: absolute;
  left: 0;
  top: 0px;  /* 이 값을 변경해서 글자와의 정렬 */
  width: 14px;  /* 체크박스의 너비를 지정 */
  height: 14px;  /* 체크박스의 높이를 지정 */
  line-height: 14px; /* 세로정렬을 위해 높이값과 일치 */
  text-align: center;  
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

/* 라디오버튼 디자인 */

/* <div class="checks">
  <input type="radio" id="ex_rd2"> 
  <label for="ex_rd2">체크박스</label> 
</div> */

.checks {position: relative;}
.checks input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.checks input[type="radio"] + label {
  display: inline-block;
  position: relative;
  top:7px;
  padding-left: 20px; /* 글자와 체크박스 사이의 간격을 변경 */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="radio"] + label:before {
  content: '';  /* 체크표시 유니코드 사용 */
  position: absolute;
  left: 0;
  top: 2px; /* 이 값을 변경해서 글자와의 정렬 */
  width: 14px; /* 라디오버튼의 너비를 지정 */
  height: 14px; /* 라디오버튼의 높이를 지정 */
  text-align: center; /* 세로정렬을 위해 높이값과 일치 */
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="radio"] + label:active:before,
.checks input[type="radio"]:checked + label:active:before  {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checks input[type="radio"]:checked + label:before {
  background: #E9ECEE;
  border-color: #adb8c0;
}
.checks input[type="radio"]:checked + label:after {
  content: '';  
  position: absolute;
  top:  4.5px;
  left: 2.5px;  
  width: 10.5px; /*  체크시 라디오버튼의 너비를 지정 */
  height: 10.5px;
  background: #777;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

/* 셀렉트 박스 */

/* <div id="select_box">
    <label for="color">color</label>
    <select id="color" title="select color">
        <option selected="selected">color</option>
        <option>red</option>
        <option>blue</option>
        <option>yellow</option>
        <option>black</option>
    </select>
</div>
 */
 
 /* 직업선택박스 */
/* div#select_box {
    position: relative;  
    float:left;
    width: 180px;
    height: 40px;
    background: url(select_arrow.png) 180px center no-repeat; 화살표 이미지
    border: 1px solid #E9DDDD;
}
div#select_box label {
     position: absolute; 
    float:left;
    font-size: 14px;
    color: #ff80c0;
    top: 13px;
    left: 12px;
    letter-spacing: 1px;
}
div#select_box select#jobName,
div#select_box select#jobName2 {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px;
    opacity: 0;
    filter: alpha(opacity=0); IE 8
}


이메일박스
div#select_box2 {
    position: relative;  
    float:left;
    width: 180px;
    margin-top:5px;
    height: 25px;
    background: url(select_arrow.png) 180px center no-repeat; 화살표 이미지
    border: 1px solid #E9DDDD;
}
div#select_box2 label {
     position: absolute; 
    float:left;
    font-size: 14px;
    color: #ff80c0;
    top: 4px;
    left: 12px;
    letter-spacing: 1px;
}
div#select_box2 select#email3 {
    width: 100%;
    height: 25px;
    min-height: 25px;
    line-height: 25px;
    padding: 10px 10px;
    opacity: 0;
    filter: alpha(opacity=0); IE 8
}

지하철 선택
div#select_box3 {
    position: relative;  
    float:left;
    width: 120px;
    margin-top:5px;
    height: 25px;
    background: url(select_arrow.png) 180px center no-repeat; 화살표 이미지
    border: 1px solid #E9DDDD;
}
div#select_box3 label {
     position: absolute; 
    float:left;
    font-size: 14px;
    color: #ff80c0;
    top: 4px;
    left: 12px;
    letter-spacing: 1px;
}
div#select_box3 select#subRegion ,
div#select_box3 select#subNum ,
div#select_box3 select#subName {
    width: 100%;
    height: 25px;
    min-height: 25px;
    line-height: 25px;
    padding: 10px 10px;
    opacity: 0;
    filter: alpha(opacity=0); IE 8
}  */