@CHARSET "UTF-8";
@font-face{
   font-family:'bon godic';
   src:url('../font/NotoSans-Regular.ttf') format('truetype');
}
/* body {
   background: #ededed;
   width: 900px;
   margin: 30px auto;
   color: #999;
} */
p {
   margin: 0;
}
h1 {
   margin: 0;
}
a {
   color: #339;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
/* div {
   padding: 20px 0;
   border-bottom: solid 1px #ccc;
}
 */
/* button 
---------------------------------------------- */
body{
   /* background: #F7F7F7; */
   
}
.recWrite *{

}
.recWrite {
   width: 900px;
    background: #FFF; 
   border-left:1px solid #eee;
   border-right:1px solid #eee;
   
   margin: 0 auto;
   border-radius: 1%;
    
}
#serviceInfo,#divService{
	display: inline;
	width: 300px; 
}
.recWrite dl dt {
   padding-bottom: 15px; 
}
.recWrite dl{
	/* background: #fffcfc; */
}

.companyInfo,.personInfo,.workInfo,.workCondition,.requestCondition,.recContent,.detailContent {
   width: 880px;
   padding: 20px 0;
   
}

.detailContent textarea{
   margin: 30px;
}

.bg {
   /* background: #FFF; */
   /* border: 1px solid gray; */
}

 
.by{
 margin:5px 0 0 0;
   font-family:'bon godic';
   float: left;
   font-size: 10pt;
}
.tit,.titc,.titd, .titcd {
   margin:5px 10px 0 10px;
}
/* .tit,.titc {
   width: 120px;
   float: left;
   font-weight:bold;
   font: 11px dotumn, "돋움";
} */

.tit, .titc,.titd, .titcd{
   text-align:right;
   width: 150px;
   float: left;
   font-family:'bon godic';
   font-weight: bold;
   font-size: 9pt;
   /* color: #511; */
}
.titd, .titcd{
   width: 70px;
   float: left;
   
}


.radio{
   margin:7px 0;
   height:
   float: left;
}
.prefe{
   margin:5px 0 0 0;
   width:115px;
   float: left;
}
.rence{
   margin: 5px 0 0 0px;
   float: left;
   width: 110px;
}
.txt{
   margin:10px;
   width: 580px;
   float: left;
}


.txt_30,.txt_35,.txt_40,.txt_45,.txt_50,
.txt_55,.txt_60,.txt_65,.txt_70,.txt_75,
.txt_80,.txt_85,.txt_90,.txt_95,.txt_100,
.txt_105,.txt_110,.txt_115,.txt_120,.txt_125,
.txt_130,.txt_135,.txt_140,.txt_145,.txt_150,
.txt_155,.txt_160,.txt_165,.txt_170,.txt_175,
.txt_180,.txt_185,.txt_190,.txt_195,.txt_200,
.txt_205,.txt_210,.txt_220,.txt_230,.txt_240,
.txt_250,.txt_260,.txt_270,.txt_280,.txt_290,
.txt_300,.txt_350,.txt_400,.txt_500{
   margin:10px;
   float: left;
   font: 11px dotumn, "돋움";
}
.txth_30,.txth_35,.txth_40,.txth_45,.txth_50,
.txth_55,.txth_60,.txth_65,.txth_70,.txth_75,
.txth_80,.txth_85,.txth_90,.txth_95,.txth_100,
.txth_105,.txth_110,.txth_115,.txth_120,.txth_125,
.txth_130,.txth_135,.txth_140,.txth_145,.txth_150,
.txth_155,.txth_160,.txth_165,.txth_170,.txth_175,
.txth_180,.txth_185,.txth_190,.txth_195,.txth_200,
.txth_205,.txth_210,.txth_220,.txth_230,.txth_240,
.txth_250,.txth_260,.txth_270,.txth_280,.txth_290,
.txth_300,.txth_350,.txth_400{
   margin:10px 0;
   float: left;
}
.txt_30,.txth_30 {
   width: 30px;
}
.txt_35 ,.txth_35{
   width: 35px;
}
.txt_40 ,.txth_40{
   width: 40px;
}
.txt_50 ,.txth_50{
   width: 50px;
}
.txt_60 ,.txth_60{
   width: 60px;
}
.txt_65 ,.txth_65{
   width: 65px;
}
.txt_70 ,.txth_70{
   width: 70px;
}
.txt_75 ,.txth_75{
   width: 75px;
}
.txt_80 ,.txth_80{
   width: 80px;
}
.txt_85 ,.txth_85{
   width: 85px;
}
.txt_90 ,.txth_90{
   width: 90px;
}
.txt_95 ,.txth_95{
   width: 95px;
}
.txt_100 ,.txth_100{
   width: 100px;
}
.txt_105,.txth_105{
   width: 105px;
}
.txt_300 ,.txth_300{
   width: 300px;
}
.txt_250 ,.txth_250{
   width: 250px;
}
.txt_200 ,.txth_200{
   width: 200px;
}
.txt_180 ,.txth_180{
   width: 180px;
}
.txt_150 ,.txth_150{
   width: 150px;
}
.txt_300 ,.txth_300{
   width: 300px;
}
.txt_500 ,.txth_500{
   width: 500px;
}
.phone1{
margin:10px;
   width: 50px;
   float: left;
}
.phone2, .phone3{
margin:10px;
   width: 80px;
   float: left;
}
.email1{
   margin:10px;
   width: 80px;
   float: left;
}
.email2{
   margin:10Spx;
   width: 100px;
   float: left;
}
.email3{
   margin:10px;
   width: 120px;
   float: left;
}
.clearBoth, .clearBoth dt{
   clear: both;
}
.recWrite h2{
	width: 150px;
	margin-top: 30px;
}
legend{
	width: 250px;
}
.recWrite h2,
,legend{
   text-align: right;
   margin: 20px 10px;
 font-family:'bon godic';
   font-variant:small-caps;
   font-weight: bold;
   font-size: 11.5pt; 
   
   /* display: inline-block; */
      zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
      display: inline;
      vertical-align: baseline;
      margin: 0 2px;
      outline: none;
      cursor: Auto;
      text-decoration: none;
      padding: .2em;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      -webkit-border-radius: .4em; 
      -moz-border-radius: .4em;
      border-radius: .4em;
      box-shadow: 0 1px 2px rgba(0,0,0,.2);
      padding-right: 80px;
      margin-top: 30px;
}
.bon{
	font-family:'bon godic';
}
.font_10{
   font-size: 10pt;
}
.font_11{
   font-size: 11pt;
}
.bgg{
 background: #F7F7F7
}


input[type="text"], input[type="radio"],input[type="checkbox"]{
   border: none;
   zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
   *display: inline;
   vertical-align: baseline;
   margin: 5px 5px 0 2px;
   outline: none;
   cursor: Auto;
   text-decoration: none;
   font: 14px/100% Arial, Helvetica, sans-serif;
   padding: .2em;
   text-shadow: 0 1px 1px rgba(0,0,0,.3);
   -webkit-border-radius: .4em; 
   -moz-border-radius: .4em;
   border-radius: .4em;
   box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.align_center{
	text-align: center;
}


.align_left{
	text-align: left;
}
.align_right{
	text-align: right;
}
.recList tbody tr td{
   margin: 20px 10px;
 font-family:'bon godic';
   font-variant:small-caps;
   font-weight: bold;
   font-size: 9pt; 
}
dt label{
	font-family:'bon godic';
   font-size: 9.5pt;
   color: #511;
}
dt input[type="radio"],dt input[type="checkbox"]{
	margin:7px 0;
   height:
   float: left;
}
floatLeft input[type="checkbox"],
.floatLeft{
	float: left;
}



/* recList  채용정보 리스트 */
.Wrap {
   width: 800px;
}
/* .border{
   border: 0.5cm solid #eee;
} */
.recDetail {
   font: 1em;
   font-weight: bold;
   margin: 0;
}
.detail_content{
   width: 800px;
   height: 220px;
}
.detail_area{
   width: 800px;
     
}
.detail_rec{
   width: 800px;
}
.detail_right {
   float: right;
}

.detail_left {
   float: left;
}

.clear_both {
   clear: both;
}

.br {
   padding: 20px 0 20px 0;
}

.title {
   /* padding: 30px 30px; */
   /* border: 1px solid black; */
   text-align: center;
   font-weight: bold;
}

.logo {
/* border: 1px solid black; */
   width: 272px;
   height: 172px;
   padding: 30px 0 30px 0;
}

.logo img {
   width: 200px;
   height: 100px;
   padding: 30px 33px;
}

.main_left {
   width: 260px;
   height: 530px;
   padding:15px;
    border: 1px solid #eee; 
}

.main_right {
   /* border: 1pt solid Gray; */
   width: 470px;
   height: 530px;
   margin: 0;
   padding:15px;
    border: 1px solid #eee;
}



.txt_180 {
   float: left;
   width: 180px;
   font: 11px dotumn, "돋움";
   margin-bottom: 5px;
}
.txt_720 {
   float: left;
   width: 720px;
   font: 15px dotumn, "돋움";
   margin-bottom: 5px;
}

.tit_15 {
   width: 70px;
   float: left;
   font: 15px dotumn, "돋움";
   font-weight:bold; 
}

.txt_400 {
   width: 400px;
}
.txt_30 {
   float: left;
   width: 30px;
   font: 15px dotumn, "돋움";
}

.skip {
   overflow: hidden;
   padding: 0 0 3px 0;
   font: 11px dotumn, "돋움";
}
.decoration_none,.decoration_none a{
   text-decoration: none;
}
.right_title{
   border-bottom: 1px solid #AAA;
   padding-bottom: 5px;
}
.font_9{
   font-size: 9pt;
}
.font_11{
   font-size: 11pt;
}
.font_13{
   font-size: 13pt;
}
.font_15{
   font-size: 15pt;
}
.margin_left_70{
   margin: 10px 0 10px 70px;
}
.margin_left_20{
   margin-left: 20px;
}
.dt_20 dt{
   margin:20px 0 0 20px; 
}

.border_radius{
   border: 1px solid gray; 
   border-radius: 20px;
}
.padding_10_5{
   padding: 10px 5px;
}
.main_board{
   text-align: center;
   padding: 10px 0;
}
.border_tb10{
   border-top: 10px solid #FFF;
   border-bottom: 10px solid #FFF;
}
.border_bottom{
   /* margin-top:30px; */
   border-bottom: 2px solid skyblue;
   padding-bottom: 5px;
}
.bold{
   font-weight: bold;
}
.align_right{
   text-align: right;
}
.align_center{
   text-align: center;
}
.align_left{
   text-align: left;
}
.bg{
   /* border: 1px solid black; */
   padding: 20px;
}
.red{
   color: red;
}
.blue{
   color: blue;
}
.green{
   color: green;
}
#map{
   float:left;
   width: 770px;
   height: 510px;
}
.margin_0{
   margin: 0;
}


.recListArea div>p:first-child{

 border-bottom: 1px solid #007FFF; 
/* background:#fdfdfd; */
text-align: left;
	
}
.recListArea>div{
text-align: left;

/* background: #fdfdfd; */
/* border-bottom: 1px solid #68F; */
display: inline-block;

}
/* 지역별 시구군 내용  간격DIV*/
/* 직종별 시구군 내용  간격DIV*/

.recListArea div div,
#jobTabs div p>div{
   width: 142px;
   display: inline-block;
   padding: 3px;
   margin: 0;
}
/* 지역별 시구군 A태그 폰트CSS */
.recListArea div div a,
#jobTabs div p div>a{
	/* padding: 5px; */
   font-family:'bon godic';
   font-size: 9pt; 
}
.toggler div a:hover,
.toggler p>div:hover{
	color:#FFF;
	background: #007FFF;
	border-radius: 0.2em;
}
.toggler div a:active,
.toggler p>div:active{
	color:#FFF;
	background: #0033FF;
	border-radius: 0.2em;
}


.li_font li,#selectArea,
.recList thead tr>th{
	font-family:'bon godic';
   font-weight: bold;
   font-size: 8.8pt;
   padding: 0;
   margin: 0;
}
/* 직종 선택값 들어가는 부분 CSS */
#test,#test2{
	width:800px;
	height: 30px;
	font-family:'bon godic';
   font-weight: bold;
   font-size: 8.5pt;
   padding-left: 30px;
   margin: 0;
   text-align: left;
   background: #fafafa;
}
#test label,#test2 label{
	color:#D50C0C;
	font-family:'bon godic';
   font-weight: bold;
   font-size: 9pt;
   margin: 0 3px;
}
#test labe button,#test2 label button{
	
}
/* 토글 */
/* 직종 탭부분 CSS */
#jtab>li{
	width: 208px;
	
	font-family:'bon godic';
   font-weight: bold;
   font-size: 9pt;
   text-align: center;
}	
/* 지역 탭부분 CSS */
#tabs>ul>li{
	width: 41.2px;
	font-family:'bon godic';
   font-weight: bold;
   font-size: 9pt;
   text-align: center;
   
}	
/* 탭 화면 고정크기 */	
.toggler {
	 /* position: relative;
    width: 920px;
    height: 400px;
    padding: 0.4em;
    margin:0 auto;
    border: 1px solid #38f; */
  }
/* 지역별검색, 직종별검색 버튼 CSS */   
#button,#button2,#button3 {
    padding: .5em 1em;
    text-decoration: none;
  }
#button:hover,
#button2:hover,
#button3:hover{
	color:#FFF;
   background: #007FFF;
   border-radius: 0.2em;
}  
#button:active,
#button2:active,
#button3:active{
	color:#FFF;
   background: #0033FF;
   border-radius: -1em;
}  
/* 탭 내용 CSS */  
#effect {
    position: relative;  
    width: 860px;
/*     height: 460px; */
    padding: 0.1em;
    margin:0 auto;
    /* border: 1px solid #15f; */
  }
/* 탭 제목 CSS */  
#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }	
