@CHARSET "UTF-8";
@font-face{
   font-family:'bon godic';
   src:url('../font/NotoSans-Regular.ttf') format('truetype');
}
/* 심플한 include-top */
#simple_wrap{
	width:100%;
	font-family:'bon godic';
}
header{
	width:100%;
	height:85px;
	border-bottom:5px solid #E70400;
	margin-bottom:20px;
}
#simple_top{
	margin:0 auto;
	width:1050px;
	height:100%;
}
#simple_top img{
	height:30px;
	margin:50px 6px 0 0 ;
	
}
#simple_top span{
	color: #E70400;
	font-size:2em;
    vertical-align: bottom;
}
#simple_top ul{
	list-style: none;
	display: inline;
	float:right;
	margin:57px 0 0 0;
	font-size:0.8em;
}
#simple_top li{
	display: inline;
}
#simple_top ul li a{
	color:#353535;
}

/* 컨테이너 영역[navigator,section,aside] */
#container{
	width:960px;
	margin:0 auto;
	padding:0;
	margin-bottom:15px;
}

/* 심플한 include-bottom */
footer{
	width: 960px;
	margin:0 auto;
	text-align:center;
    color:#8e8e8e;
    clear:both;
}
footer address{
    border-top: 1px solid #dcdcdc;
    padding-top:15px;
    font-size: 0.9em;
	margin-top:20px;
}
footer a{
	color:black;
}
footer img{
	height:13px;
	vertical-align: middle;
}

/* 위로 이동 버튼 */
#upMark{
	display:scroll;
	position:fixed;
	bottom:1%;
	right:23%;
}

/* 좌측 고정배너 */
#leftBanner{
	position:fixed;
	top:25%;
	left:22%;
	width:70px;
	height:210px;
	/* z-index:999; */
}

/* 우측 고정메뉴 */
#rightMenu{
	position:fixed;
	top:25%;
	left:73.5%;
	width:110px;
	height:250px;
	background-color:#f7f7f7;
	font-size:12px;
}
#rightMenu a{
	text-decoration:none;
	color:black;
}
#mJoin{
	border:solid 1.5px silver;
	padding:5px;
}
#mJoin img{
	vertical-align:middle;
	width:18px;
}
#mJoin hr{
	color:silver;
}
#mToday{
	border:solid 1.5px silver;
}
#mTitle{
	background-color:white;
	font-weight:bold;
	padding:5px;
	font-size:13px;
}
#mTitle a{
	color:OrangeRed;
}
#mContent{
	padding:5px;
}
#mView{
	background-color:white;
	padding:5px;
}
#mView p{
	margin-bottom:5px;
}
#mView span{
	background-color:#f7f7f7;
	border:solid 1px silver;
	border-radius:5px;
	font-weight:bold;
	padding-left:18px;
	padding-right:18px;
}
#mReport p{
	border:solid 1.5px lightgray;
	padding:5px;
	color:dimgray;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}
#mReport img{
	margin-left:5px;
	width:15px;
	vertical-align:middle;
}