@CHARSET "UTF-8";
@font-face{
   font-family:'bon godic';
   src:url('../font/NotoSans-Regular.ttf') format('truetype');
}
.divMain{
	position:static;
	margin:auto;
	width:900px;
}

#smTitle{
	color:royalblue;
	font-size:18px;
	font-weight:bold;
}
#smContent{
	padding:2px 2px 2px 10px;
	font-size:14px;
}
#subTitle{
	width:150px;
	color:darkblue;
	font-weight:bold;
	background-color:lightblue;
	margin:0px 10px 0px 10px;
	padding:2px;
	font-size:14px;
}
#smCC{
	margin-right:16px;
	font-weight:normal;
}
table{
	width:880px;
	border-collapse:collapse;
	margin-bottom:20px;
}
td{
	width:220px;
	border-left:dashed 1px gray;
	border-right:dashed 1px gray;
}
a{
	text-decoration:none;
	color:black;
}